
@font-face {
  font-family: "CabinSketch-Regular";
  src: url("../src/assets/fonts/CabinSketch-Regular.ttf");
}

@font-face {
  font-family: "CabinSketch-Bold";
  src: url("../src/assets/fonts/CabinSketch-Bold.ttf");
}

@font-face {
  font-family: "AveriaSansLibre-Regular";
  src: url("../src/assets/fonts/AveriaSansLibre-Regular.ttf");
}

@font-face{
  font-family: "AveriaSansLibre-Italic";
  src: url("../src/assets/fonts/AveriaSansLibre-Italic.ttf");
}

@font-face {
  font-family: "AveriaSansLibre-Bold";
  src: url("../src/assets/fonts/AveriaSansLibre-Bold.ttf");
}

#root {
  margin: 0 auto;
  text-align: center;
  background-image: url("../src/assets/background.jpg");
  min-height: 100vh;
}

.splashLogo img{
  width: 98vw;
  margin:auto;
  padding: 1vw;
  border-radius: 1em;
}

.splashButtons{
  display: flex;
  flex-direction: column;
  padding: 1vh;
  opacity: 80%;
  z-index: 3;
  position: relative;
  top: 10vh;
}

.splashButtons button{
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.splashWrapper {
  background-image: url("../src/assets/background.jpg");
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 100vh;
 position: relative;
}

.logoRedWrapper{
 background-color: #0d0d0d;
  width: 100%;
  font-family: CabinSketch-Regular;
}

.logoRedWrapper img{
width: 100%;
display: block;
}

#logo{
  z-index: 2;
 position: relative;
}
#tapt{
  z-index: 1;
 position: absolute;
 top: 20%;
 left: 0%;
 opacity: 35%;
}

.logoRedWrapper h1{
  width: 100%;
  font-size: 5vw;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: whitesmoke;
}

.carousel{
  margin: auto;
  margin-top: 1em ;
  margin-bottom: 3.1em;
  height: 400px;
  border-radius: 0.5em;
  width: 96%;
  background-color: rgba(26, 26, 26, 0.6);
}

.carouselImg{
  object-fit: cover;
  height: 400px;
  border-radius: 0.5em;
}

.css-1m9128y{
  display: none;
}

.blerb, .contactInfo{
  background-image: url("../src/assets/paper1-nolines.png");
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98%;
  margin: auto;
  margin-top: -25px;
  font-family: AveriaSansLibre-Bold;
}

.contactInfo{
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.blerb h2, .contactInfo h2{
  margin-top: 0px;
}
.page-main h2, .page-main h3, .contactInfo h2{
  font-size: medium;
  color: rgb(26,26,26);
  font-family: AveriaSansLibre-Bold;
}

.contactInfo h2{
  margin-left: 17vw;
  margin-right: 12vw;
}

#epkTech {
margin-top: 15px;
}

.page-main h2 {
  font-size: medium;
}

.page-main h3 em {
  font-family: AveriaSansLibre-Regular;
}

.reviews{
  background-image: url("../src/assets/paper1-nolines.png");
  background-position: 60%;
  background-repeat: no-repeat;
  max-width: 98%; 
  background-size: cover;
  margin: auto;
  margin-top: 2px;
  color: #0d0d0d;
  font-size: small;
  font-family: AveriaSansLibre-Regular;
}

.reviews h3, .blerb h2{
  margin-left: 15vw;
  margin-right: 12vw;
  /* padding-top: 1vh;
  padding-bottom: 1vh; */
}

.reviews h3{
  position: relative;
  top: 1px;
  line-height: normal;
  
}

.reviews em{
  font-family: AveriaSansLibre-Italic;
}

#facebookWidget{
  width: fit-content;
  min-width: 350px;
  max-width: 700px;
  margin-right: 0.5vh;
}

#instagramWidget{
  width: 59vw;
  min-width: 350px;
  max-width: 485px;
  max-height: 375px;
}

.gigButton{
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(13,13,13, 0.75);
}

.gigButton:hover, .pastGigListItem button:hover, .gigListItem button:hover, .gigs_idlinks a:hover, .mailChimpWrapper button:hover{
  background-color: rgba(209, 92, 42, 0.85);
  border-color: transparent;
}

#gigTileDateLocation{
  display: flex;
  justify-content: center;
}

#gigTileDateLocation h3{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.buttonFlier{
  position: relative;
  width: 98%;
  margin-bottom: 1vh;
}

.nextGigBanner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px;
  border-style:groove;
  border-color: rgba(250, 235, 215, 0.85);
  border-radius: 0.7em;
    font-family: AveriaSansLibre-Regular;
  width: 98%;
  margin: auto;
}

.bannerWrapper{
  padding-top: 5px;
}

.nextGigBanner a{
  margin-bottom: 0;
  padding-left: 1px;
  padding-right: 1px;
  font-size:medium;
}

.socialFeeds{
display: block  ;
padding: 1vw;
width: 91vw;
min-width: 358px;
min-height: fit-content;
max-height: fit-content;
margin: auto;
padding-bottom: 0px;
justify-content: center;
background-color: #d9d9d9;
opacity: 0.76;
border-radius: 1em;
}

.socialFeeds iframe{
  border-radius: 1em;
  color: rgba(26,26,26,0.5);
margin-bottom: 1px;
margin-top: 1px;
}


.mailChimpWrapper{
  background-color: rgba(26,26,26,0.65);
  flex-direction: column;
  display:flex;
  justify-content: center;
  height: fit-content;
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  color: antiquewhite;
  width: 98vw;
  font-family: CabinSketch-Regular;
}

.mailChimpWrapper button{
  background-color: rgba(26, 26, 26, 0.6);
  margin-left: 5px;
}

.mailChimpWrapper img{
  display: flex;
  margin: auto;
  object-fit: cover;
  width: 180px;
  margin-bottom: 4px;
}

.mailChimpWrapper h2{
  width: fit-content;
  margin: auto;
}

.mailChimpWrapper input{
  font-family: 'AveriaSansLibre-Regular';
}

.mailChimpWrapper input:focus{
  outline: rgb(209, 92, 42);
  outline-width: 3px;
  outline-style:groove;
  
  
}

.gigListItem, .pastGigListItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: "CabinSketch-Bold";
}

/* .gigListItem a, .pastGigListItem a,{
background-color: rgba(250, 235, 215, 0.15);
padding-top: 1.25em;
padding-left: 4px;
padding-right: 4px;
color: antiquewhite;
border-radius: 4px;
text-decoration: none;
font-family: 'AveriaSansLibre-Italic';  
} */

#ticketLink{
  border-width: 1px;
  border-color: rgba(250,235,215, 0.7);
  border-style:groove; 
}

.pageGradientWrapper, .gradientGigsId{
  background-image: linear-gradient(#0d0d0d, rgba(255, 0, 0, 0));
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100vw;
}

.gradientGigsId{
  position: relative;
  right: 2%;
}
.pageGigsHeadings{
  background-image: url("../src/assets/orange-slice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  width: 92%;
  margin: auto;
  color: #0d0d0d;
  font-family: AveriaSansLibre-Bold;
  border-radius: 5px;
}

.pageGigsHeadings h2{
  margin-bottom: 10px;
}

.gigListItem button, .pastGigListItem button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.pastGigListItem a{
  visibility: hidden;
}

.tileOrList select, .tileOrList option{
  margin-bottom: 0.5em;
  font-family: "AveriaSansLibre-Regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:medium
}


.gigs_idLocationVenue{
  display: flex;
  justify-content: center;
}

.gigs_idLocationVenue h3{
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 2px;
  margin-top: 2px;
}

.gigs_idDate{
  margin-bottom: 0.2em;
  margin-top: 0em;
  padding-top: 0em;
  width: fit-content;
  margin: auto;
}

.gigs-gig_id {
  font-family: "AveriaSansLibre-Regular";
  background-color: rgba(26, 26, 26, 0.55);
  width: 96%;
  max-height: fit-content;
  min-height: 86%;
  margin: auto;
  border-radius: 0.5em;
  
}

.gigs-gig_id h2{
margin-bottom: 0%;
font-weight: 1200;

}
.gigs-gig_id img{
  width: 94%;
  border-radius: 0.5em;
}

.gigs_idlinks {
  padding-top: 10px;
}

.gigs_idlinks a {
  border-radius: 10px;
  text-decoration: none;
  color: antiquewhite;
}

#thisGig-desc-text{
margin-bottom: 0px;
text-overflow: ellipsis;
}

.gigs_idlinks{
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  color: white;
  justify-items: stretch;
}

.gigs_idlinks a {
  padding: 1em;
  font-size: medium;
  background-color: rgb(26,26,26);
  margin-bottom: 0.5em;
}

#thisGig-desc-text {
  margin-top: 0px;
}

.ImageQuiltWrapper{
margin-bottom: 7px;
}

.bandcampPlayer, .bandcampPlayer iframe{
  border: none;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0.5em;
  /* width: 96%; */
  height : 310px;
  margin: auto;
  background-color: #0d0d0d;
}

.bandcampPlayer{
  width: 96%;
  margin-bottom: 5px;
}

.bandcampPlayer iframe{
  width: 100%;
  z-index: 200;
}
.galleryVids iframe{
  border-radius: 0.5em;
}

.videoCarouselWrapper{
  margin: auto;
  margin-top: 10px;
  width: 96%;
  height: 40vh;
}

.videoCarouselWrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 0.5em;
}

#youtubeIframe{
border-radius: 0.5em;
}

.videoButtons button{
  background-color: rgba(26,26,26,0.5);
  width: 33%;
  justify-content: space-between;
}

.videoButtons img{
  height: 30px;
}

.imageButtonVideo{
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: auto;
  margin-bottom: 0.5em;
}

.vidArrowLabel{
  display: flex;
  justify-content: center;
  height: fit-content;
}

.vidArrowLabel h4{
  padding: 0;
  margin: 0;
  margin-left: 10px;
  line-height: 30px;
}

.contrabandBanner{
  /* margin-top: 0.2em; */
  margin-bottom: 0%;
  max-width: 75%;
  border-radius: 0.4em;
}

.contrabandBanner img{
  max-width: 30%;
  max-height: 10vh;
  width: auto;
  height: auto;
}

.bannerWrapper{
  width: 100%;
  padding-bottom: 1px;
  background-image: linear-gradient(#0d0d0d, rgba(255,0,0,0));
}

.pageMainBandPic{
  width: 96%;
  margin-top: 0.5em;
  border-radius: 0.4em;
}

.albumSelect{
  width: 96%;
  height: 20%;
  margin: auto;
  border-radius: 0.4em;
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

 .albumSelect button{
  width: 80px;
  height: 80px;
  padding: 0.1em;
  margin: 0.2em
}


.eachAlbum img{
  width: 75px;
  height: 75px;
  border-radius: 0.4em;
  
}

.MuiImageListItemBar-titleWrap{
  margin-top: -10px;
  margin-bottom: -5px;
}

.reviewCheckout{
  width: 96%;
  margin-bottom: 0.5em;
}

.basketContains{
  margin: auto;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  width: 96%;
  background-color: teal;
}

.merchText{
  background-color: blueviolet;
  font-size: medium;
  width: 96%;
  margin: auto;
  margin-bottom: 0.2em;
}

.basketWrapper{
  background-color: orange;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.basketItem{
  width: 96%;
  background-color: violet;
  margin: auto;
  padding-top: 0em, 0.3em, 0em, 0,3em ;
  margin-bottom: 0.2em;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}

.basketItem h2{
padding: 0.2em;
margin: 0;
}

.addRemoveBasket{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.MuiImageListItemBar-actionIcon{
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.MuiImageListItemBar-actionIcon button{
  margin: 0 0.2em 0 0.2em;
}

.basketQuantity{
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width: 65%;
}

.basketQuantity h2{
  padding: 0em 0.3em 0em 0.3em;
}

.basketQuantity button{
  height: fit-content;
  display: flex;
  padding: 0;
  margin: auto;
}

.quantityAndPrice{
  display: flex;
  justify-content: space-between;
  width: 48%;
}

.totalWrapper{
  background-color: mediumaquamarine;
  width: 96%;
  margin: auto;
  font-size: smaller;
  text-align: end;
}

.totalWrapper h2{
  margin-top: 0.5em;
  margin-bottom: 0;
}

.basketNav{
  width: 66%;
  margin: auto;
  padding-top: 1em;
}

.basketText{
  background-color: skyblue;
  margin: auto;
  padding: 0;
}

.basketText h3{
  background-color: mediumslateblue;
  margin: 0 0 0.2em 0;
  font-size: medium;
}

.mailChimpBasket{
  margin-top: 3em;
}

@media only screen and (min-width: 600px) {
  #root{
    height: 100vh;
    margin-left: 150px;
    margin-right: 0px;
    width: 91vw;
    background-color: "9fff01";
  }
  .splashWrapper {
    background-color: lightblue;
  }
  .splashWrapper img{
    width: 30vw;
  }
  .mailChimpWrapper{
    width: 30vw;
    margin: auto;
    margin-top: 10px;
  }
  .mailChimpWrapper img{
    width: 150px;
    margin-bottom: 5px;
  }
  .splashButtons{
    width: 30vw;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .page-main{
    width: 91vw;
  } 
  .logoRedWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: -150px;
    background-color: #0d0d0d;
  }
  .logoRedWrapper h1{
    font-size: 2em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
  }

  .logoRedWrapper img{
    width: 60%;
  }

  .pageMainBandPic{
    width: 45%;
  }
  .socialFeeds{
    display:flex;
  }
  #instagramWidget{
  max-height: 470px;
}


@media only screen and (min-width: 900px) {
  .page-main{
    width: calc(100vw - 167px) !important;
    background-color: slateblue;
  }
  .contrabandBanner {
        width: 35%;
      }
  .bannerWrapper {
      background-color: #0d0d0d;
      display: flex;
      justify-content: center;
      max-height: 10vh;
    }

  
  
    .nextGigBanner {
      height: fit-content;
      width: fit-content;
      max-width: 45vw;
      margin-top: 3px;
      margin-bottom: 3px;
      padding-bottom: 1vh;
      display: flex;
      flex-direction: row;
    }
    .nextGigBanner button{
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 10px;
    }
    .nextGigBanner a{
      width: 80%;
      margin: auto;
      text-align: center;
      padding: 10px;
    }
}
}