#root {
  margin: 0 auto;
  text-align: center;
  background-color: red;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}

.splashLogo img{
  width: 98vw;
  margin:auto;
  padding: 1vw;
  border-radius: 1em;
}

.splashButtons{
  display: flex;
  flex-direction: column;
  padding: 1vh;
}

.splashButtons button{
  margin-bottom: 1vh;
}

.splashWrapper {
 background-color: orange;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 100vh;
}

.logoRedWrapper{
  background-color: aquamarine;
}

.logoRedWrapper img{
width: 100%;
display: block;
}

.logoRedWrapper h1{
  width: 100%;
  font-size: 5vw;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.page-main h2{
  background-color: purple;
}


.socialFeed{
margin-bottom: 2vh;
background: transparent;
}

#facebookWidget, #instagramWidget {
  width: 90vw;
}

.gigButton{
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: black;
  opacity: 0.75;
}

#gigTileDateLocation{
  display: flex;
  justify-content: center;
}

#gigTileDateLocation h3{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.buttonFlier{
  position: relative;
  width: 98%;
  margin-bottom: 1vh;
}

.nextGigBanner{
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nextGigBanner a{
  font-size: large;
  background-color: rgb(5, 33, 135);
  width: fit-content;
  margin: auto;
  padding: 0.5em;
}

.socialFeeds{
display: block  ;
padding: 1vw;
width: 100%;
margin: auto;
background-color: blueviolet;
}

.socialFeeds iFrame{
  width: 96%;
}


.mailChimpWrapper{
  background-color: black;
  flex-direction: column;
  display:flex;
  justify-content: center;
  height: fit-content;
  border-radius: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  color: white;
}

.mailChimpWrapper img{
  display: flex;
  margin: auto;
  object-fit: cover;
  width: 180px;
}

.mailChimpWrapper h2{
  width: fit-content;
  margin: auto;
}

.gigListItem{
  display: flex;
  justify-content: space-between;
  background-color: rgb(143, 26, 46);
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.gigListItem a{
background-color: aqua;
padding-top: 1.25em;
color: black;
}

.gigListItem button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.tileOrList{
  margin-bottom: 0.5em;
}

.gigs_idLocationVenue{
  display: flex;
  justify-content: center;
}

.gigs_idLocationVenue h3{
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.gigs_idDate{
  margin-bottom: 0.2em;
  margin-top: 0em;
  padding-top: 0em;
  width: fit-content;
  margin: auto;
}

.gigs-gig_id img{
  width: 94%;
}

.gigs_idlinks{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  color: white;
}

.gigs_idlinks a {
  padding: 1em;
  font-size: medium;
  background-color: blueviolet;
  margin-bottom: 0.5em;
}

.galleryVids{
  margin-top: 0.5em;
}

.videoButtons button{
  background-color: aqua;
  width: 33%;
  justify-content: space-between;
}

.videoButtons img{
  height: 30px;
}

.imageButtonVideo{
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: auto;
  margin-bottom: 0.5em;
}

.vidArrowLabel{
  display: flex;
  justify-content: center;
  height: fit-content;
}

.vidArrowLabel h4{
  padding: 0;
  margin: 0;
  margin-left: 10px;
  line-height: 30px;
}

.contrabandBanner{
  margin-top: 0.2em;
  width: 100%;
}

.pageMainBandPic{
  width: 96%;
  margin-top: 0.5em;
}

.albumSelect{
  width: 96%;
  height: 20%;
  margin: auto;
  border-radius: 0.4em;
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

 .albumSelect button{
  width: 80px;
  height: 80px;
  padding: 0.1em;
  margin: 0.2em
}


.eachAlbum img{
  width: 75px;
  height: 75px;
  border-radius: 0.4em;
  
}

.MuiImageListItemBar-titleWrap{
  margin-top: -10px;
  margin-bottom: -5px;
}

.reviewCheckout{
  width: 96%;
  margin-bottom: 0.5em;
}

.basketContains{
  margin: auto;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  width: 96%;
  background-color: teal;
}

.merchStore, .yourOrder{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.merchText{
  background-color: blueviolet;
  font-size: medium;
  width: 96%;
  margin: auto;
  margin-bottom: 0.2em;
}

.basketWrapper{
  background-color: orange;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.basketItem{
  width: 96%;
  background-color: violet;
  margin: auto;
  padding-top: 0em, 0.3em, 0em, 0,3em ;
  margin-bottom: 0.2em;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}

.basketItem h2{
padding: 0.2em;
margin: 0;
}

.addRemoveBasket{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.MuiImageListItemBar-actionIcon{
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.MuiImageListItemBar-actionIcon button{
  margin: 0 0.2em 0 0.2em;
}

.basketQuantity{
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width: 65%;
}

.basketQuantity h2{
  padding: 0em 0.3em 0em 0.3em;
}

.basketQuantity button{
  height: fit-content;
  display: flex;
  padding: 0;
  margin: auto;
}

.quantityAndPrice{
  display: flex;
  justify-content: space-between;
  width: 48%;
}

.totalWrapper{
  background-color: mediumaquamarine;
  width: 96%;
  margin: auto;
  font-size: smaller;
  text-align: end;
}

.totalWrapper h2{
  margin-top: 0.5em;
  margin-bottom: 0;
}

.basketNav{
  width: 66%;
  margin: auto;
  padding-top: 1em;
}

.basketText{
  background-color: skyblue;
  margin: auto;
  padding: 0;
}

.basketText h3{
  background-color: mediumslateblue;
  margin: 0 0 0.2em 0;
  font-size: medium;
}

.mailChimpBasket{
  margin-top: 3em;
}

@media only screen and (min-width: 600px) {
  #root{
    height: 100vh;
    margin-left: 150px;
    margin-right: 0px;
    width: 91vw;
  }
  .splashWrapper {
    background-color: lightblue;
  }
  .splashWrapper img{
    width: 30vw;
  }
  .mailChimpWrapper{
    width: 30vw;
    margin: auto;
    margin-top: 10px;
  }
  .mailChimpWrapper img{
    width: 150px;
    margin-bottom: 5px;
  }
  .splashButtons{
    width: 30vw;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .page-main{
    width: 91vw;
  } 
  .logoRedWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: -150px;
  }
  .logoRedWrapper h1{
    font-size: 2em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: silver;
  }
  .logoRedWrapper img{
    width: 60%;
  };
  .contrabandBanner{
    width: 45%;
  }
  .nextGigBanner{
    width: 45%;
    margin: auto;
  }
  .pageMainBandPic{
    width: 45%;
  }
  .socialFeeds{
    display:flex;
  }
}