#root {
  margin: 0 auto;
  text-align: center;
  background-color: red;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
}

.splashLogo img{
  width: 98vw;
  margin:auto;
  padding: 1vw;
  border-radius: 1em;
}

.splashButtons{
  display: flex;
  flex-direction: column;
  padding: 1vh;
}

.splashButtons button{
  margin-bottom: 1vh;
}

.splashWrapper {
 background-color: orange;
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 100vh;
}

.logoRedWrapper{
  background-color: aquamarine;
}

.logoRedWrapper img{
width: 100%;
display: block;
}

.logoRedWrapper h1{
  width: 100%;
  font-size: 5vw;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.page-main h2{
  background-color: purple;
}


.socialFeed{
margin-bottom: 2vh;
}

.gigButton{
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: black;
  opacity: 0.75;
}

#gigTileDateLocation{
  display: flex;
  justify-content: center;
}

#gigTileDateLocation h3{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.buttonFlier{
  position: relative;
  width: 98%;
  margin-bottom: 1vh;
}

.nextGigBanner{
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nextGigBanner a{
  font-size: large;
  background-color: rgb(5, 33, 135);
  width: fit-content;
  margin: auto;
  padding: 0.5em;
}

.socialFeeds{
display: block  ;
padding: 1vw;
width: 100%;
margin: auto;
background-color: blueviolet;
}

.socialFeeds iFrame{
  width: 96%;
}

.mailChimpWrapper{
  background-color: black;
  flex-direction: column;
  display:flex;
  justify-content: center;
  height: fit-content;
  border-radius: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  width: 100%;
  color: white;
}

.mailChimpWrapper img{
  display: flex;
  margin: auto;
  object-fit: cover;
  width: 180px;
}

.mailChimpWrapper h2{
  width: fit-content;
  margin: auto;
}

.gigListItem{
  display: flex;
  justify-content: space-between;
  background-color: rgb(143, 26, 46);
  margin-bottom: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.gigListItem a{
background-color: aqua;
padding-top: 1.25em;
color: black;
}

.gigListItem button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.tileOrList{
  margin-bottom: 0.5em;
}

.gigs_idLocationVenue{
  display: flex;
  justify-content: center;
}

.gigs_idLocationVenue h3{
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

.gigs_idDate{
  margin-bottom: 0.2em;
  margin-top: 0em;
  padding-top: 0em;
  width: fit-content;
  margin: auto;
}

.gigs-gig_id img{
  width: 94%;
}

.gigs_idlinks{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  color: white;
}

.gigs_idlinks a {
  padding: 1em;
  font-size: medium;
  background-color: blueviolet;
  margin-bottom: 0.5em;
}

.galleryVids{
  margin-top: 0.5em;
}